<!DOCTYPE html>
<html>
<head>
    <title>SOC Dashboard</title>
    <style>
        body { font-family: Arial; background: #0f172a; color: white; }
        .card {
            display: inline-block;
            padding: 20px;
            margin: 10px;
            background: #1e293b;
            border-radius: 10px;
            width: 200px;
        }
        h1 { text-align: center; }
    </style>
</head>
<body>

<h1>🔐 Shekhar SOC Dashboard - AI Log Analyzer</h1>

<div class="card">🚨 Failed Logins: {{failed}}</div>
<div class="card">✅ Successful Logins: {{success}}</div>
<div class="card">⚙️ Sudo Usage: {{sudo}}</div>
<div class="card">🔥 Anomalies: {{anomalies}}</div>
<div>
    {{ graph|safe }}
</div>
<h2>⚠️ Detected Anomalies</h2>
<ul>
    {% for a in anomaly_list %}
        <li>{{a}}</li>
    {% endfor %}
</ul>

</body>
</html>
